<div class="mat-app-background">
    <div class="page mat-app-background">
        <mat-card class="example-card">
            <button [style.font-size]="'5vw'" mat-flat-button [routerLink]="'/dpkCreate'">Create a DPK</button>
        </mat-card>
        <mat-card class="example-card">
            <button [style.font-size]="'5vw'" [style.line-height]="1.5" mat-flat-button
                    [routerLink]="'/dpk/Kirtan/Sāchā Sādhu Re'">
                Sāchā sādhu re,<br> sundar guṇdhām;
            </button>
        </mat-card>
    </div>
    <p>THIS IS ONLY TO DEMO WHAT I HAVE SO FAR. NOT THE ACTUAL HOMEPAGE</p>
</div>
