<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" fixedInViewport
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="opened">
        <mat-toolbar>
            Menu
            <mat-slide-toggle [checked]="this.isDarkTheme$ | async"
                              (change)="this.toggleDarkTheme($event.checked)"></mat-slide-toggle>
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/login">Login</a>
            <a mat-list-item routerLink="/slides">Slides</a>
            <a mat-list-item routerLink="/dpkCreate">Create a new DPK</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- Add Content Here -->
        <main class="mat-app-background">
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
