<div *ngIf="dpkObservable | async" class="slider-container">
    <div class="slides">
        <div *ngFor="let slide of dpk" class="slide">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{ slide.title }}</mat-card-title>
                </mat-card-header>

                <img mat-card-image [src]="this.getImage(slide.imgID).src" [routerLink]="['/dpk', slide.type, slide.title]"
                     alt="Slides">

                <mat-card-actions class="actions">
<!--                    <button mat-button color="primary">Like</button>-->
                    <a [routerLink]="['/dpk', slide.type, slide.title]">
                        <button mat-button color="primary">SlideShow</button>
                    </a>
                    <a [routerLink]="['/dpk', 'pdf', slide.type, slide.title]">
                        <button mat-button color="accent">PDF</button>
                    </a>
<!--                    <button mat-button color="warn">Flag</button>-->
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
