.slider-container {
    display: flex;
    flex-direction: column
}

.slides {
    display: flex;
    overflow-x: scroll;
    // This is not supported by all browsers. If you want a different animation, please feel free
    // to find your own solution.
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }

}

.controls {
    display: flex;
    justify-content: center;
    padding-bottom: 1vh;
}

.actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

p {
    font-family: Lato, serif;
}

mat-card {
    max-width: 20vw;
    min-height: 30vh;
    margin-left: 1vw;
    margin-right: 1vw;

    @media (max-width: 450px) {
        min-width: 40vw;
        max-height: 30vh;
        min-height: auto;
    }
}

.slide {
    flex-shrink: 0;
}

mat-card-content {
    height: 15vh;
    overflow: scroll;
}

img {
    max-height: 30vh;
    object-fit: cover;
    cursor: pointer;
}
