<div [style.min-height]="'100%'" class="mat-app-background">
    <form [formGroup]="dpkForm" (ngSubmit)="onSubmit()" #form="ngForm">
        <mat-toolbar color="primary">
            <span>Submit a new DPK</span>
        </mat-toolbar>

        <div>
            <label>Type: </label>
            <mat-radio-group formControlName="dpk">
                <mat-radio-button [style.margin]="'12px 12px'" *ngFor="let dpk of DPKs"
                                  value="{{ dpk }}">{{ dpk }}</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="form-field">
            <mat-form-field class="text-fields">
                <label>
                    <input matInput placeholder="DPK Title" formControlName="title" class="mat-primary">
                </label>
            </mat-form-field>
            <mat-form-field class="text-fields">
                <label>
                    <textarea matInput placeholder="Lyrics" formControlName="lyrics" class="mat-primary"></textarea>
                </label>
            </mat-form-field>

            <mat-form-field class="text-fields">
                <label>
                <textarea matInput placeholder="Definitions" formControlName="definitions"
                          class="mat-primary"></textarea>
                </label>
            </mat-form-field>

            <mat-form-field class="text-fields">
                <label>
                    <input matInput placeholder="Images URL" formControlName="imagesURL" class="mat-primary">
                </label>
            </mat-form-field>
        </div>

        <div class="submission">
            <button color="warn" class="submission-btn" mat-raised-button type="reset">Reset</button>
            <button color="primary" class="submission-btn" mat-flat-button type="submit"
                    [disabled]="!dpkForm.valid" (click)="openDPKSlides()">
                Submit
                <mat-icon *ngIf="dpkForm.valid">check_circle</mat-icon>
            </button>
        </div>
    </form>

    <div [ngStyle]="{'display':'flex', 'justify-content': 'space-around'}">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Ex: Lyrics</mat-card-title>
                <mat-card-subtitle>Empty Line == New Slide</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Sāchā sādhu re, sundar guṇdhām;</p>
                <p>Samjīne Satsang kījie...</p>
                <br>
                <p>Jī re Sant sulakshaṇnā bharyā, avguṇno re,</p>
                <p>'Urmā nahi lesh, mahānubhavī muni te kharā;'</p>
                <p>'Āpe sahune re, sācho upḍesh...'</p>
                <br>
                <p>Jī re sant sadā shītaḷ rahe, kyāre na tape re,</p>
                <p>Kām krodhnī jhāḷ, lobh tajī Harine bhaje;</p>
                <p>Dhāre urmā re, dradh karī Shrī Gopāḷ...</p>

            </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Ex: Definitions (Optional)</mat-card-title>
                <mat-card-subtitle>Definitions must have the same number of slides as Lyrics</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>The true sadhu is the wonderful abode of virtues.</p>
                <p>Understanding this, do Satsang.</p>
                <br>
                <p>The Sant is filled with good qualities.</p>
                <p>'There is not the slightest fault in his heart.'</p>
                <p>'That sadhu is truly experienced. He gives everyone true advice.'</p>
                <br>
                <p>The Sant always remains cool, calm, and at peace.</p>
                <p>He is never disturbed or bound by the nets of lust or anger.</p>
                <p>He has renounced all greed and worships Bhagwan. He firmly holds Bhagwan in his heart.</p>

            </mat-card-content>
        </mat-card>
    </div>
</div>
