form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 1.1em;
    margin-bottom: 1%;
}

mat-toolbar {
    justify-content: center;
    font-size: 1.5em;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-fields {
    width: 60vw;
}

.submission {
    display: flex;
    justify-content: space-evenly;
}

.submission > .submission-btn {
    width: 20vw;
    font-size: 1.3em;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.video {
    max-width: 27vw;
}

mat-card {
    max-height: 40vh;
    max-width: 30vw;
    overflow: hidden;
    background-color: rgba(1, 1, 31, 0.7);
}

mat-card > mat-card-content {
    max-height: 32vh;
    overflow: auto;
}
