<div id="particles">
    <div class="page">
        <ng-container *ngIf="user | async; else login">
            <mat-card>
                <mat-card-title>
                    Congrats You logged in without a password!
                </mat-card-title>
                <button mat-button color="warn" (click)="logout()">Sign Out</button>
            </mat-card>
        </ng-container>

        <ng-template #login>
            <mat-card>
                <mat-card-title>Sign In</mat-card-title>
                <form [formGroup]="emailForm" (ngSubmit)="sendEmailLink()">
                    <mat-form-field *ngIf="!emailSent">
                        <label>
                            <input matInput placeholder="Email" formControlName="email">
                        </label>
                    </mat-form-field>
                </form>

                <div class="buttons">
                    <button mat-flat-button color="primary" [disabled]="emailSent"
                            (click)="anonSignIn()">
                        Anonymous Sign In
                    </button>

                    <button mat-flat-button color="accent" [disabled]="emailSent || emailForm.invalid"
                            (click)="sendEmailLink()">
                        Get Login Link
                    </button>
                </div>

                <mat-card-footer *ngIf="emailSent">
                    We sent you an email with your login link
                </mat-card-footer>
                <mat-card-footer *ngIf="errorMessage">
                    {{ errorMessage }}
                </mat-card-footer>
            </mat-card>
        </ng-template>
    </div>
</div>
