button {
    z-index: 1;
    transition: .7s;
}

.slideSettings {
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 10px;
}

.backButton {
    position: fixed;
    top: 10px;
    left: 10px;
}
