<div class="mat-app-background">
    <div *ngIf="this.firebaseBhajan$ | async as bhajan">
        <app-youtube></app-youtube>
        <div class="slide" *ngIf="this.slideService.slideConfig$ | async" [@openClose]="hidden ? 'closed' : 'open'">
            <div class="stanzaDiv" [style.font-family]="slideConfig.fontStyle">
                <h2 *ngFor="let line of this.stanza[slideIndex]">{{ line }}</h2>
            </div>

            <app-audio *ngIf="bhajan.audioLink" [bhajanObservable$]="this.firebaseBhajan$"
                       [hidden]="true"></app-audio>

            <div *ngIf="slideConfig.definitionShown" class="definitionDiv">
                <p *ngFor="let definition of bhajan.definitions[slideIndex]">{{ definition }}</p>
            </div>
        </div>
    </div>
</div>
