.slide {
    font-size: 2.3vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
}

.stanzaDiv {
    text-align: center;
}

.stanzaDiv, .definitionDiv {
    margin: 2% 0;
    padding: 0 15%;
    white-space: nowrap;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 0.9766281512605042) 23%, rgba(227, 227, 227, 0) 100%);
}

.definitionDiv {
    text-align: center;
}

.imageDiv {
    text-align: center;
    filter: drop-shadow(0 0 0.75rem #1d1d1d);

}

img {
    vertical-align: middle;
    width: 93vw;
    height: auto;
    object-fit: contain;
}

/*********************************************
 * HEADERS
 *********************************************/
.slide h1,
.slide h2,
.slide h3,
.slide h4,
.slide h5,
.slide h6 {
    margin: 0 0 0 0;
    line-height: 1.5;
    letter-spacing: normal;
    text-transform: capitalize;
    text-shadow: none;
    word-wrap: break-word;
    color: white;
}

.slide h1 {
    font-size: 2.5em;
}

.slide h2 {
    font-size: 1.9em;
}

.slide h3 {
    font-size: 1.6em;
}

.slide h4 {
    font-size: 1em;
}

.slide h1 {
    text-shadow: none;
}

/*********************************************
 * OTHER
 *********************************************/
.slide p {
    font-style: italic;
    font-size: 1.2em;
    margin: 0;
    line-height: 1.4;
    color: lightgray;
}

.bg-image {
    /*Image Defined in HTML with [ngStyle]*/

    /* Add the blur effect */
    filter: blur(50px);
    -webkit-filter: blur(50px);

    /* Full height */
    height: 100vh;
    width: 100vw;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: bg-animate 13s ease-in-out alternate infinite;
}

@keyframes bg-animate {
    from {
        filter: blur(50px);
        -webkit-filter: blur(50px);
    }
    to {
        filter: blur(50) invert(100%);
        -webkit-filter: blur(50px) invert(100%);
    }
}
