div {
    transition: .7s;
}


button {
    margin: 1vh 0;
    opacity: 0.6;
    transition: all .5s linear;

}

button:hover {
    opacity: 1.0;
}

.bottomRight {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.topLeft {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.topRight {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.bottomLeft {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: column-reverse;
}
