div {
    transition: .7s;
}

.slideSettings {
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 10px;
}

.backButton {
    position: fixed;
    top: 10px;
    left: 10px;
}

.playButton {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

::ng-deep .playButton > .mat-button-wrapper {
    padding: 0 !important;
}
