<mat-toolbar color="primary">
    <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sideNavToggleService.toggleSidenav()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>Submit a new DPK</span>
    <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        color="primary"
        (click)="sideNavToggleService.toggleSidenav()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
</mat-toolbar>
<div class="page">
    <form [formGroup]="dpkForm" (ngSubmit)="onSubmit()">
        <mat-vertical-stepper linear>
            <mat-step formGroupName="titleSection" [stepControl]="dpkForm.get('titleSection')">
                <ng-template matStepLabel>Name the Bhajan</ng-template>
                <mat-label>Type:</mat-label>
                <mat-radio-group formControlName="dpk" required>
                    <mat-radio-button [style.margin]="'12px 12px'"
                                      *ngFor="let dpk of ['Dhun','Prarthana','Kirtan', 'Miscellaneous']"
                                      value="{{ dpk }}">{{ dpk }}</mat-radio-button>
                </mat-radio-group>
                <mat-divider></mat-divider>
                <div class="form-field">
                    <mat-slide-toggle (change)="pullData($event)" checked="{{false}}" class="chooseBhajan">
                        Edit Previous Slide
                    </mat-slide-toggle>
                    <mat-form-field *ngIf="editMode" class="text-fields">
                        <mat-label>Select the {{dpkForm.value.titleSection.dpk}} to Edit</mat-label>
                        <mat-select formControlName="title" required (selectionChange)="dpkEditSelection($event)">
                            <mat-option *ngFor="let bhajan of submittedBhajans" [value]="bhajan.title">{{bhajan.title}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="!editMode" class="text-fields">
                        <label>
                            <input matInput placeholder="DPK Title" formControlName="title" required
                                   [errorStateMatcher]="errorMatcher">
                        </label>
                        <mat-error *ngIf="dpkForm.hasError('badChars')">
                            Title can only contain Alphabetically characters
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-button matStepperNext type="button" color="primary">Next</button>
                </div>
            </mat-step>

            <mat-step formGroupName="bhajanSection" [stepControl]="dpkForm.get('bhajanSection')">
                <ng-template matStepLabel>Bhajan Details</ng-template>

                <mat-form-field class="text-fields">
                    <label>
                    <textarea cdkTextareaAutosize matInput placeholder="Lyrics" formControlName="lyrics" required
                              class="mat-primary" [errorStateMatcher]="errorMatcher"></textarea>
                    </label>
                    <mat-error *ngIf="dpkForm.hasError('lyricsDef')">
                        Number of Stanzas for Lyrics and Definitions do not Match
                    </mat-error>

                    <mat-hint>Follow the format in Ex: Lyrics</mat-hint>
                </mat-form-field>

                <mat-form-field class="text-fields">
                    <label>
                        <textarea cdkTextareaAutosize matInput placeholder="Gujarati Lyrics"
                                  formControlName="gujarati" class="mat-primary" [errorStateMatcher]="errorMatcher">
                        </textarea>
                    </label>
                    <mat-error *ngIf="dpkForm.hasError('GujuIncorrectSize')">
                        Number of Stanzas for Lyrics and Gujarati Lyrics do not Match
                    </mat-error>
                    <mat-hint>Same Format as Lyrics</mat-hint>
                </mat-form-field>

                <mat-form-field class="text-fields">
                    <label>
                        <textarea cdkTextareaAutosize matInput placeholder="Definitions" formControlName="definitions"
                                  class="mat-primary">
                        </textarea>
                    </label>
                    <mat-hint>Same Format as Lyrics</mat-hint>
                </mat-form-field>

                <div>
                    <button mat-button matStepperPrevious type="button" color="primary">Back</button>
                    <button mat-button matStepperNext type="button" color="primary">Next</button>
                </div>
            </mat-step>

            <mat-step formGroupName="materialSection" [stepControl]="dpkForm.get('materialSection')">
                <ng-template matStepLabel>Upload Bhajan Images and Audio</ng-template>
                <div class="form-field">
                    <mat-slide-toggle formControlName="audioUploaded" labelPosition="before" checked="audioUploaded">
                        Upload Audio?
                    </mat-slide-toggle>
                    <a mat-flat-button *ngIf="dpkForm.value.materialSection.audioUploaded"
                       [ngStyle]="{margin: '1vh 0', fontSize: '.9em'}"
                       color="accent"
                       href="https://drive.google.com/open?id=15LgtjqsTnBMTvz-BjQEBhGHgVmuA2bid"
                       target="_blank">
                        Please Upload your Audio File Here and Paste the Shareable Link Here
                    </a>

                    <mat-form-field *ngIf="dpkForm.value.materialSection.audioUploaded" class="text-fields">
                        <label>
                            <textarea cdkTextareaAutosize matInput formControlName="audioTimings" required
                                      placeholder="Audio Timings (MM:SS) M means Minutes. S means Seconds"
                                      class="mat-primary" [errorStateMatcher]="errorMatcher">
                            </textarea>
                        </label>
                        <mat-error *ngIf="dpkForm.hasError('IncorrectFormat')">
                            Each time should be of MM:SS, M:S, M:SS, or MM:S format
                        </mat-error>
                        <mat-error *ngIf="dpkForm.hasError('IncorrectSize')">
                            Number of Audio Timings does not match number of slides.
                            Hint first timing should be 00:00 or when the audio actually starts
                        </mat-error>
                        <mat-error *ngIf="dpkForm.hasError('AudioNotFound')">
                            Audio File Not Found. Upload to the same place as Images
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field *ngIf="dpkForm.value.materialSection.audioUploaded" class="text-fields">
                        <label>
                            <input matInput placeholder="Audio Google Drive URL" formControlName="audioURL" required
                                   [errorStateMatcher]="errorMatcher">
                        </label>
                        <mat-error *ngIf="dpkForm.hasError('badURL')">
                            Please Enter Shared URL from Google Drive
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-button matStepperPrevious type="button" color="primary">Back</button>
                    <button color="accent" class="submission-btn" mat-flat-button type="submit"
                            [disabled]="!dpkForm.valid">
                        Submit
                        <mat-icon *ngIf="dpkForm.valid">check_circle</mat-icon>
                    </button>
                </div>
            </mat-step>


        </mat-vertical-stepper>
    </form>

    <app-form-cards></app-form-cards>
</div>
