.slide {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.stanzaDiv {
    margin: 5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lyricDiv {
    display: flex;
    flex-direction: column;
}

/*********************************************
 * HEADERS
 *********************************************/
h2 {
    margin: 6px 0 6px 0;
    line-height: 1.4;
    text-transform: capitalize;
    text-shadow: none;
    word-wrap: break-word;
    color: white;
}

h2 {
    font-size: 1.6em;
}
