div {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scale(1.1);
    -webkit-animation: invert 6s infinite alternate cubic-bezier(0.8, 0, 0.2, 1);
}

@-webkit-keyframes invert {
    0% {
        -webkit-filter: invert(0) blur(30px);
    }
    100% {
        -webkit-filter: invert(1) blur(30px);
    }
}
