<div class="slide" *ngIf="this.firebaseBhajan$ | async">
    <div [@openClose]="hidden ? 'closed' : 'open'">
        <div class="lyricDiv">
            <h3 *ngFor="let line of stanza[edgeCheck()]">{{ line }}</h3>
        </div>
        <div class="imageDiv" *ngIf="this.driveBhajanImages$ | async">
            <img [src]="images[edgeCheck()].src" alt="Slide Image" [style.max-height.vh]="this.imageMaxHeightDecrement()">
        </div>
        <div class="definitionDiv">
            <p *ngFor="let definition of definitions[edgeCheck()]">{{ definition }}</p>
        </div>
    </div>
</div>
