<div *ngIf="dpkFolder | async as dpk" class="slider-container">
    <ng-container *ngFor="let DPK of dpk | keyvalue">
        <mat-divider></mat-divider>
        <mat-toolbar>
            {{DPK.key}}
        </mat-toolbar>
        <mat-divider></mat-divider>
        <div class="slides">
            <mat-card *ngFor="let dpkTitle of DPK.value" title="{{dpkTitle}}"
                      [ngStyle]="{'backgroundImage': imageToURLL(getGitHubURL(DPK.key.toString(), dpkTitle))}"
                      class="slide">
                <mat-card-title *ngIf="!gitHubFiles.has(dpkTitle + '.webp')"
                                class="cardTitle">{{dpkTitle}}</mat-card-title>
                <div class="overlay">
                    <mat-card-actions class="actions">
                        <a [routerLink]="['../dpk', 'singerView', DPK.key, dpkTitle]">
                            <button mat-stroked-button color="accent">Singer</button>
                        </a>
                        <a [routerLink]="['../dpk', 'slideShow', DPK.key, dpkTitle]">
                            <button mat-stroked-button color="primary">Presentation</button>
                        </a>
                    </mat-card-actions>

                </div>
            </mat-card>
        </div>
    </ng-container>
</div>
