<div *ngIf="dpkFolder | async" class="slider-container">
    <ng-container *ngFor="let DPK of this.dpk | keyvalue">
        <mat-toolbar>{{DPK.key}}</mat-toolbar>
        <div class="slides">
            <mat-card *ngFor="let dpkTitle of DPK.value" class="slide">
                <mat-card-header>
                    <mat-card-title>{{ dpkTitle }}</mat-card-title>
                </mat-card-header>

                <!--                <img mat-card-image [src]="slide.image" [routerLink]="['/dpk', 'slideShow', DPK.key, slide.name]"-->
                <!--                     alt="{{slide.name}}">-->

                <mat-card-actions class="actions">
                    <a [routerLink]="['/dpk', 'singerView', DPK.key, dpkTitle]">
                        <button mat-button color="accent">Singer View</button>
                    </a>
                    <a [routerLink]="['/dpk', 'slideShow', DPK.key, dpkTitle]">
                        <button mat-button color="primary">Presentation View</button>
                    </a>
                    <!--                <a [routerLink]="['/dpk', 'pdf', slide.type, slide.title]">-->
                    <!--                    <button mat-icon-button color="accent">-->
                    <!--                        <mat-icon>picture_as_pdf</mat-icon>-->
                    <!--                    </button>-->
                    <!--                </a>-->
                    <!--                    <button mat-button color="warn">Flag</button>-->
                </mat-card-actions>
            </mat-card>
        </div>
    </ng-container>
</div>
