.cards {
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
}

.video {
    max-width: 27vw;
}

mat-card {
    max-height: 100%;
    max-width: 30vw;
    overflow: auto;
}

mat-card > mat-card-content {
    max-height: 32vh;
    overflow: auto;
}

@media (max-width: 750px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    mat-card {
        width: 80vw;
        max-width: 80vw;
    }
}
