<div [style.min-height]="'100%'" class="mat-app-background page">
    <mat-toolbar color="primary">
        <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="sideNavToggleService.toggleSidenav()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Select a DPK to Present</span>
        <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            color="primary"
            (click)="sideNavToggleService.toggleSidenav()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
    </mat-toolbar>

    <br>
    <ng-container *ngFor="let DPK of this.DPKs | keyvalue">
        <mat-toolbar>{{DPK.key}}</mat-toolbar>
        <app-slider [DPK]="DPK.key.toString()" [dpkID]="DPK.value">
            <div appSliderItem>
            </div>
        </app-slider>
    </ng-container>
</div>

