<ng-container *ngIf="user | async; else login">
    Congrats You logged in without a password!
    <button (click)="logout()">Signout</button>
</ng-container>

<ng-template #login>
    <label>
        <input type="email" [(ngModel)]="email">
    </label>

    <hr>

    <button [disabled]="emailSent" (click)="sendEmailLink()">
        Get Login Link
    </button>

    <hr>

    <div *ngIf="emailSent">
        Cool! We sent you an email with your login link
    </div>

    <div *ngIf="errorMessage">{{ errorMessage }}</div>

</ng-template>
