mat-card {
    background-color: rgba(0, 0, 0, 0.8);
}

.page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-form-field {
    width: 34vw;

}

@media (max-width: 780px) {
    mat-form-field {
        width: 74vw;
    }

    mat-card {
        width: 75vw;
    }
}
