mat-card {
    background-color: rgba(0, 0, 0, 0.8);
}

.page {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-form-field {
    width: 34vw;

}

@media (max-width: 780px) {
    mat-form-field {
        width: 74vw;
    }

    mat-card {
        width: 75vw;
    }
}

#particles {
    background-image: url("src/assets/img/Sāchā Sādhu Re.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--particle-bg);
    background-size: contain;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
