<ng-container *ngIf="user | async; else login">
    Congrats You logged in without a password!
    <button mat-button (click)="logout()">Sign Out</button>
</ng-container>

<ng-template #login>
    <form [formGroup]="emailForm" (ngSubmit)="sendEmailLink()">
        <mat-form-field>
            <label>
                <input matInput placeholder="Email" formControlName="email">
            </label>
        </mat-form-field>
        <button mat-flat-button [disabled]="emailSent || emailForm.invalid">
            Get Login Link
        </button>
    </form>
    <div *ngIf="emailSent">
        Cool! We sent you an email with your login link
    </div>

    <div *ngIf="errorMessage">{{ errorMessage }}</div>
</ng-template>
